@import url('./assets/font/NunitoSans-Light.ttf');
@import url('./assets/font/NunitoSans-Regular.ttf');
@import url('./assets/font/NunitoSans-SemiBold.ttf');
@import url('./assets/font/NunitoSans-Bold.ttf');
@import url('./assets/font/NunitoSans-ExtraBold.ttf');

:root {
    --goldLight: #d69778;
    --goldDark: #a3694b;
    --black: #212121;
    --white: #fefefe;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
button:focus{
    outline: none;
}
html{
    width: 100%;
    overflow-x: hidden;
    height: -webkit-fill-available;
}
body{
    position: relative;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    background-image: url(./assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    font-family: 'NunitoSans', sans-serif!important;
    font-weight: 400;

}

.pageContainer{
    position: relative;
    padding: 10vh 0;
    z-index: 2;

}




/* LOGIN LAYOUT */
.layoutsContainer{
    width: 90%;
    max-width: 960px;
    margin:0 auto;
    height: 600px;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
}
.layoutsContainer .logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0em;
}
.layoutsContainer .logoContainer a {
    text-align: center;
}
.layoutsContainer .logoContainer a img{
    max-height: 180px;
    max-width: 260px;
}

.layoutsContainer .layout{
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    display: block;
}





/* FORMS */
.formLayout{
    width: 100%;
    /* border: 1px solid var(--goldLight); */
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formLayout form{
    width: 70vw;
    max-width: 400px;

}
.formLayout form .fieldContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1em;
    /* max-width: 80%; */
}
.formLayout form .fieldContainer label{
    margin-bottom: 0.5em;
    color: var(--goldLight);
    width:100%;
}
.formLayout form .fieldContainer input{
    padding: 1em 1em;
    max-height: none;
    font-size: 16px;
    font-weight: 500;
    width:100%;
    background: #fefef7;
    border: 1px solid var(--goldLight);
    font-family: 'NunitoSans', sans-serif!important;
    border-radius: 5px;
}
.formLayout.ar form .fieldContainer input{
    font-family: 'Tajawal', sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Tajawal', sans-serif!important;
}
.formLayout form .submitBtn{
    width:100%;
    margin-top: 2em;
}
.formLayout form .submitBtn button{
    width:100%;
    background: var(--goldDark);
    background: rgb(214,151,120);
    background: linear-gradient(225deg, rgba(214,151,120,1) 0%, rgba(163,105,75,1) 100%);
    border: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    padding: 1em 2em;
    line-height: 1.6;
    font-family: 'NunitoSans', sans-serif!important;
    box-shadow: 1px 3px 6px rgb(163, 105, 75, 0.2);
    border-radius: 5px;
    letter-spacing: 0.5px;
    border: 1px solid var(--goldLight);
}
.formLayout.ar form .submitBtn button{
    font-family: 'Tajawal', sans-serif!important;
    font-size: 17px;
    font-weight: 600;
}
.formLayout.ar form{
    direction: rtl;
}





footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    font-size: 14px;
    color: var(--goldLight);
    text-align: center;
}


